@import 'color_palette.scss';
@import 'general.scss';


.container table{
    width: 100%;
}
.header {
    background-color: color('--header-color');
    color: color('background');
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h2 {
    margin: 0;
}
.header div{
    padding: 5px;
}
.btn {
    padding: 5px;
    border: none;
    cursor: pointer;
}
.action-icons .btn {
    padding: 5px;
    border: none;
    cursor: pointer;
}
.action-icons .btn-delete {
    background-color: color('accent');
    color: color('background');
}
.btn-add {
    margin-left: 5px;
    background-color: color('secondary');
    color: color('background');
}

.btn.btn-add{
    display: flex;
    align-items: center;
}

.btn-edit {
    background-color: color('pink-rose');
    color: color('background');
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid color('background');
}
th {
    background-color: color('background');
}
.action-icons {
    display: flex;
    gap: 10px;
}
.action-icons span {
    cursor: pointer;
}
.pagination {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: color('background');
}
.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: color('background');
    cursor: pointer;
}
.pagination button.active {
    background-color: var(--primary-color);
    color: var(--background-color);
    border-color: color('blue-light');
}
 